<%- include('../partials/header'); %>

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="mb-3">Welcome <%= userName %> !</h1>

            <!-- Button trigger modal -->
             <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#post-modal">New post!</button>

            <!-- table containing posts -->
            <div scroll-table style="height: 88vh; width: 20vw; overflow: auto;">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <% userPosts.forEach((post) => { %>
                            <tr>
                                <td>
                                    <h3><%= post.title %></h3>
                                    <div style="white-space:pre-wrap; word-wrap:break-word"><%= post.description %></div>
                                    <div style="white-space:pre-wrap; word-wrap:break-word"><%= post.placeName %></div>
                                    <div style="white-space:pre-wrap; word-wrap:break-word"><%= post.createdAt %></div>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="post-modal" tabindex="-1" aria-labelledby="post-modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="POST" action="/users/post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                
                            </div>
                            <div class="modal-body">
                                    <div id="geocoder" class="geocoder mb-3"></div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="post-title" placeholder="Title" name="title">
                                        <label for="post-title">Title</label>
                                    </div>
                                    <div hidden class="form-floating mb-3">
                                        <input type="text" class="form-control" id="post-location-long" name="longitude">
                                        <label for="post-location">Location</label>
                                    </div>
                                    <div hidden class="form-floating mb-3">
                                        <input type="text" class="form-control" id="post-location-lat" name="latitude">
                                        <label for="post-location">Location</label>
                                    </div>
                                    <div hidden class="form-floating mb-3">
                                        <input type="text" class="form-control" id="post-place-name" name="placeName">
                                        <label for="post-location">Location</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="post-description" placeholder="Description" name="description">
                                        <label for="post-description">Description</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="post-image-url" placeholder="image-url" name="imageUrl">
                                        <label for="post-image-url">URL of image</label>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div id='map' style='width: 75vw; height: 100vh;'></div>
        </div>
    </div>
</div>

<script src="/map.js"></script>


</main>

<%- include('../partials/footer'); %>